################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter 5/Lesson 5.01/UnitTestProject1/.vs/UnitTestProject1/v15
/Chapter 3/Lesson 3.05/UnitTestProject1/.vs/UnitTestProject1/v15
/Chapter 3/Lesson 3.05/UnitTestProject1/packages
/Chapter 3/Lesson 3.05/UnitTestProject1/UnitTestProject1/UnitTestProject1.csproj.user
/Chapter 5/Lesson 5.01/UnitTestProject1/UnitTestProject1/UnitTestProject1.csproj.user
/Chapter 5/Lesson 5.02/UnitTestProject1/.vs/UnitTestProject1/v15
/Chapter 5/Lesson 5.02/UnitTestProject1/UnitTestProject1/UnitTestProject1.csproj.user
/Chapter 5/Lesson 5.03/UnitTestProject1/.vs/UnitTestProject1/v15
/Chapter 5/Lesson 5.03/UnitTestProject1/UnitTestProject1/UnitTestProject1.csproj.user
