################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter 5/Lesson 5.01/UnitTestProject1/.vs/UnitTestProject1/v15
